:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0)
    );
}
* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}
a {
    text-decoration: none;
}
.topbar {
    position: sticky;
    top: 1em;
    background: #fff;
    padding: 1em;
    display: flex;
}

.topbar-logo {
    width: 30%;
}

.topbar-menu {
    display: flex;
}
.topbar a {
    margin: 0.5em;
    padding: 0.5em 1em;
    color: var(--bs-dark);
    transition: all 0.5s ease-in-out;
}

.topbar-menu a:hover {
    background: var(--bs-secondary);
    color: var(--bs-light);
}

#banner {
    background: url("../images/mac.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    color: var(--bs-white);
    position: relative;
}

.banner-icon {
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: var(--bs-secondary);
}
.banner-content {
    padding: 0 2em;
}
.banner-content__title {
    padding-top: 20%;
    font-size: 4em;
}

.banner-content__info {
    color: var(--bs-secondary);
}
.btn {
    background: var(--bs-secondary);
    padding: 1em 2em;
    color: var(--bs-white);
    width: max-content;
}

.border-radius-1 {
    border-radius: 0.5em;
}
.mt-1 {
    margin-top: 0.5em;
}
.mt-6 {
    margin-top: 3em;
}
.container {
    padding: 1.5em;
}

#about {
    padding-top: 4em;
    padding-bottom: 2em;
    background-color: var(--bs-light);
}
.text-secondary {
    color: var(--bs-secondary);
}

.text-center {
    text-align: center;
}
.text-size-3 {
    font-size: 3em;
}

.row {
    width: 100%;
    display: flex;
}
.col {
    width: 25%;
}

.p-1 {
    padding: 0.5em;
}
.mb-4 {
    margin-bottom: 2em;
}

.text-size-2 {
    font-size: 2em;
}

.col-6 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

#promo {
    background-color: rgba(170, 170, 170, 0.247);
    padding-top: 5em;
    padding-bottom: 5em;
}

.btn-black {
    color: var(--bs-light);
    background-color: var(--bs-dark);
}
.card {
    padding: 1em;
    box-shadow: 5px 6px 8px rgba(170, 170, 170, 0.247);
    margin: 1em;
}

.border-0 {
    border: unset;
}
.opacity {
    opacity: 0.8;
}

#statistics {
    background-color: #aaa;
    color: var(--bs-light);
    padding: 3em;
}

.text-grey {
    color: grey;
}
.flex-wrap {
    flex-wrap: wrap;
}

.p-2 {
    padding: 1em;
}

.hover-opacity:hover {
    opacity: 0.8;
}
.d-flex {
    display: flex;
}

.pl-1 {
    padding-left: 0.5em;
}

.pr-1 {
    padding-right: 0.5em;
}

.process-info {
    border: 1px solid;
    padding: 0.5em;
    background-color: var(--bs-gray-dark);
    text-align: center;
    color: var(--bs-light);
    border: none;
    border-radius: 1px;
}
.process {
    width: 100%;

    background-color: var(--bs-gray);
}
.mt-0 {
    margin-top: 0;
}

#pricing li {
    list-style: none;
}

.col-4 {
    width: 33.33%;
}

.p-0 {
    padding: 0;
}

.bg-dark {
    background: var(--bs-dark);
}
.text-light {
    color: var(--bs-light);
}

.bg-danger {
    background-color: var(--bs-danger);
}
.border-t-1 {
    border-top: 1px solid #aaa;
}

.border-b-1 {
    border-bottom: 1px solid #aaa;
}
.border-color-sencondary {
    border-color: #67573c;
}

.mt-2 {
    margin-top: 1em;
}

#pricing {
    background-color: var(--bs-secondary);
}

.bg-light {
    background-color: var(--bs-light);
}

#contact {
    background-color: rgba(170, 170, 170, 0.247);
}

.form-control {
    width: 100%;
    padding: 0.8em;
    border-radius: 0.6em;
    border: 1px solid #6c757d;
    font-size: 0.6em;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.m-1 {
    margin: 1em;
}
